
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&display=swap');

:root{
    --cor-de-fundo: #6cf8f8;
    --cor-de-texto: #000000;
    --cor-de-texto2: #2f00ff;


}
body{
    background-color: var(--cor-de-fundo);
color: var(--cor-de-texto);
font-family: 'Chacra Petch', sans-serif;

    }
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}
.titulo-principal{
     text-align: left;
     width: 100%;
     font-size: 32px;
}
.titulo-principal span{
    color: var(--cor-de-texto2);
}
.botao{
    font-family: 'Chacra Perch', sans-serif ;
}