
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&display=swap');

:root{
    --cor-de-fundo: #7b76c2;
    --cor-de-texto: #2BE7F3;

}
body{
    background-color: var(--cor-de-fundo);
}